.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "nav    header header"
    "nav    main   main";
  grid-gap: .75em;
  background-color: #eee;
  width: 100vw;
  //height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  background-color: #9b59b6;
}

nav {
  grid-area: nav;
  background-color: darkgrey;
}

main {
  grid-area: main;
  background-color: #2ecc71;
}
